---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 17.304px/1.4 $font-content;
  color: $c2;

  @include mobile {
    font: 15px/1.6 $font-content;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.site-name {
  display: none;
}

.site-description {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  font-weight: 400;
  color: $c1;
  line-height: 1.7;
  margin: 1.414em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1, h2, h3 {

  a {
    color: inherit;
  }
}

h1 {
  font-size: em(28px);
}

h2 {
  font-size: em(23px);
}

h3 {
  font-size: em(20px);
}

h4, h5 {
  font-size: em(16.9px);
  color: $c2;
}

h4 {
  font-weight: 600;
  letter-spacing: 2px;
}

h5 {
  margin-top: 1em;
}

h6 {
  margin-bottom: 0px;
  font-size: em(16px);
  letter-spacing: 1px;
  color: $c2;
}

p {
  margin: 15px 0;
}

hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background: rgba($c1,0.6);
  //background-image: linear-gradient(to right, #ffffff, $c5 10%, $c5 90%, #ffffff);
}

a {
  color: $c5;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: rgba($c5,0.88);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;

  @include mobile {
    padding-left: 21px;
  }
}

ul {
  list-style-type: circle;
}

ol {
  //list-style-type: decimal;
  //list-style-type: decimal-leading-zero;
  list-style-type: bengali;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em {
  border-bottom: 2px dotted $c1;
}

i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date, .tags {
  font-family: $font-title;
}

.date {
  margin-top: 50px;
}

.tag {
  color: $c1;
  border-bottom: 1px solid rgba($c5,0.92);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $c4;
}
::selection {
  color: $black;
  background: $c4;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $c4;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

// .site-name {
//   margin: 0;
//   color: $darkGray;
//   cursor: pointer;
//   //font-family: $helveticaNeue;
//   font-weight: 300;
//   font-size: em(28px);
//   letter-spacing: 1px;
// }

// .site-description {
//   margin: -5px 0 0 0;
//   color: $gray;
//   font-size: em(16px);

//   @include mobile {
//     margin: 3px 0;
//   }
// }

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $font-title;
  font-size: em(18px);

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    // font-size: em(16px);
  }

  a {
    margin-left: 20px;
    color: $c1;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
     font-weight: 400;
     margin: 0 10px;
      color: $c5;
    }
  }
}

//
// .main
//

.posts {

  .entry {
    line-height: inherit;
  }

  .excerpt {
    display: block;
  }

  > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $c4;

    &:last-child {
      padding-bottom: 1em;
      border-bottom: none;
    }
  }
}

.post {

  blockquote {
    font-family: $font-mono;
    margin: 1em .8em;
    border-left: 2px solid $c1;
    padding: 0.1em 1em;
    color: $c1;
    font-size: em(16.9px);
    font-style: italic;

    @include mobile {
      margin: 0.8em .6em;
      //border-left-width: 1px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    //font-size: em(15px);
    font-family: $font-title;
 }
}

.entry {
  line-height: 1.571428em;

  a {
    border-bottom: 1px solid rgba($c5,0.92);
  }
}

.excerpt {
  display: none;
}

.hide {
  display: none;
}

#postTitle {
  font-weight: 700;
}

.arch-posts {

  time {
    display: inline-block;
    min-width: 72px;
    position: relative;

    &:after {
      position: absolute;
      right: em(7px); top: 0;
      content: '»';
    }
  }

  @include mobile {

    li a {
      display: block;
      border-bottom-color: transparent;
    }
  }
}

.wrapper-footer {
  margin: 0 auto;
  max-width: 740px;
  margin-top: 50px;
  // border-top: 1px solid $c4;
  // border-bottom: 1px solid #ddd;
  // background-color: $c4;
}

footer {
  padding: 20px 0;
  text-align: center;
}


// added style
//
//
sup {
  position: relative;
  font-size: 0.798em;
  top: -0.51824em;
  padding: 0 1px;
  line-height: 1;

  a[rel="footnote"] {
    border-bottom: none;
  }
}

mark {
  background: #ffffb1;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  color: #333;
  padding: 0 4px;
  margin: 0 2px;
}

figcaption {
  font-size: em(15.51px);
  line-height: 1.2;
}

table {

}
tr {
  background-color: $white;
  border-top: 1px solid $c4;
}
th, td {
  padding: em(6px) em(13px);
  border: 1px solid $c4;
}
td {
  font-size: em(15.51px);
  line-height: 1.42857;
  vertical-align: middle;
}
tbody {
  tr {
    transition: background-color 0.3s ease-out;

    &:nth-child(2n+1) {
      background-color: rgba(0,0,0,0.03);
    }
    &:hover {
      background-color: rgba($c3,0.44);
    }
  }
}

.footnotes {

  ol {
    list-style-type: decimal;
  }

  a[rev="footnote"] {
    border-bottom: none;
  }
}

// something
//
//
.display-code {

  style[contenteditable],
  script[contenteditable] {

    position: relative;
    display: block;
    outline: none;
    background-color: $white;
    font-size: em(15px);
    line-height: 1.41;
    border: 1px solid $c4;
    padding: 0 1em;
    margin: 1em 0 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: background-color 0.3s ease-out;

    &:after {
      position: absolute;
      content: "contenteditable";
      top: -1em; right: 0;
      padding: 2px 5px;
      background-color: $white;
    }

    &:focus {
      background-color: #f3f3f3;

      &:after {
        content: none;
      }
    }
  }

}

//
//
//

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
