---
layout: default
---

<article class="post">
  <h1 id="postTitle">{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
    <div class="tags">
    {% if post %}
      {% assign tags = post.tags %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    <!-- <span>Tags: </span> -->
    {% for tag in tags %}
      <a class="tag" href="/tags?tag={{tag}}">#{{tag}}</a>
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  </div>

  {% include disqus.html %}
</article>

<section class="pagination clearfix">
  {% if page.previous %}
    <a class="previous" href="{{ page.previous.url }}">Prev Post</a>
  {% else %}
    <span class="previous">Prev Post</span>
  {% endif %}
  {% if page.next %}
    <a class="next" href="{{ page.next.url }}">Next Post</a>
  {% else %}
    <span class="next ">Next Post</span>
  {% endif %}
</section>
